<?xml version="1.0"?>
<config>
	<modules>
		<Cammino_Shippingestimate>
			<version>0.0.1</version>
		</Cammino_Shippingestimate>
	</modules>
	<global>
		<helpers>
			<shippingestimate>
				<class>Cammino_Shippingestimate_Helper</class>
			</shippingestimate>
		</helpers>
		<models>
			<shippingestimate>
				<class>Cammino_Shippingestimate_Model</class>
			</shippingestimate>
		</models>
	</global>
	<frontend>
		<routers>
			<shippingestimate>
				<use>standard</use>
				<args>
					<module>Cammino_Shippingestimate</module>
					<frontName>shippingestimate</frontName>
				</args>
			</shippingestimate>
		</routers>
	</frontend>
</config>
